<html>
    <head>
        <title>BMI calculator</title>
    </head>
    <body>
        <form action="/" method="POST">
            <h3 class="page-header text-primary">BMI CALCULATOR</h3>
            Weight in KG
            <input type="text" name="weight"><br>
            Height in cm
            <input type="text" name="height"><br>
            <button type="submit" value="submit">Calculate</button>
        </form>
        {% if bmi %}
        <p>your bmi is {{bmi}}</p>
        {% endif %}
    </body>
</html>